# Supabase Configuration
# Obtenha essas chaves em: https://supabase.com/dashboard/project/_/settings/api
REACT_APP_SUPABASE_URL=https://seu-projeto.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBoeXhldGVpbmFxem10a2Jjam1zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0Njk4MjQsImV4cCI6MjA5MTA0NTgyNH0.GvL1nXNbb74N2aZ0g7uFhRkV8QLWmZpYc_lnkG-Wpt8

# API Configuration
REACT_APP_API_URL=http://localhost:5000

# Fix para react-scripts 5 no Windows
HOST=localhost
